<!DOCTYPE html>
<html>

<head>
    <title>Pipar kynningar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/slides.css">
    <link rel="stylesheet" href="/static/css/addpromotion.css">
    <link rel="stylesheet" href="/static/css/popover.css">
    <link rel="stylesheet" href="/static/lib/gooeyMenu/gooey.css">

    <link rel="stylesheet" href="/static/lib/ionicicons/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/lib/revealjs/css/revealEditor.css">
    <link rel="stylesheet" href="/static/lib/revealjs/css/theme/blackEditor.css" id="theme">
    <!-- Scripts -->
    <script src="/static/lib/jquery.js"></script>
    <script src="/static/lib/cookies.js"></script>
    <script src="/static/lib/jquery-ui.js"></script>
    <script src="/static/lib/knockout-3.3.0.js"></script>
    <script src="/static/lib/inline.js"></script>
    <script src="/static/lib/lodash.js"></script>
    <script src="/static/lib/chainwork.js"></script>
    <script src="/static/lib/chainwork-components.js"></script>
    
    <script src="/static/js/base.js"></script>
</head>

<body>
{% include "header.html" %}
{% block content %}{% endblock content %}
</body>

</html>
