<div class="slideSimBg">
    <button class="btn btn-primary submitContent">Áfram</button>
    <div class="bg"></div>
    <div class="container inFront">


        <div class="slidePad" id="droppad">
            <!-- <input type="file"> Bug sem þarf að fixa-->
            <p>Dragðu mynd</p>
        </div>


        <div class="textPad">
            <div class="columns">
                <div class="reveal">
                </div>
                {% comment %}
                        <div class="cubeMatrix">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div class="active"></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                 {% endcomment %}
            </div>

        </div>
    </div>
</div>